body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Add some spacing between scoreboards */
}

.decrease, .increase {
  font-size: 24px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.decrease:hover, .increase:hover {
  background-color: #0056b3;
}

input.score {
  font-size: 24px;
  text-align: center;
  border: none;
  width: 60px;
  margin: 0 10px;

}